@import "tailwindcss";
body {
  background-color: #111;
  
} 
body::-webkit-scrollbar {
  display: none;    
}  
@font-face {
  font-family: font1;
  src: url(../assets/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(../assets/fonts/Lausanne-500.woff2);
}
::selection {
  background-color: #D3FD50;
  color: #111;
}
